<div class='content-form'>
    <div class='head-group' data-color='red'>
        <span class='head-text level1'>Reservation</span>
        <span class='head-text level2'>"Movie Name"</span>
        <span class='head-text level3'><span class='nshowing'></span> Person(s)</span>
    </div>
    
    <form action="">
        <input type="text" name="" id="">
    </form>
</div>