<%- include('head', {mode: 'admin'});  %>

    <div id="plan-warning" class="alert alert-warning alert-dismissible fade show" style="display: none;" role="alert">
        <strong>Warning!</strong> You should check input in on some of those fields below.
        <button type="button" class="close " onclick="$('.alert').hide()" >
                <i class="material-icons" >remove_circle</i>
        </button>
    </div>
    <div id="plan-success" class="alert alert-success alert-dismissible fade show small" style="display:none" role="alert">
        <strong>Save!</strong> You Plan is save successfully.
        <button type="button" class="close " onclick="$('.alert').hide()" >
                <i class="material-icons" >remove_circle</i>
        </button>
    </div>
    <form id="plan">
        <div class="container-fluid">
            <div class="row">
                <div class="container col-xl-3 col-lg-4 col-md-5 col-sm-5 col-6 ">    
                    <h3 class='head-text'>Plan</h3>
                    <div class="form-group row mb-3">
                        <label for="PlanName" class="col-md-2 col-sm-2 col-3 mt-2 mb-0">Name</label>
                        <div class="col-md-10 col-sm-10 col-9">
                            <input type="text" autocomplete="off" class="form-control-plaintext text-white pb-0 text-center" id="PlanName" name="PlanName">
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label for="PlanHeight" class="col-md-4 col-sm-5 col-6 mt-2 mb-0 pr-0">Plan Height</label>
                        <div class="col-md-8 col-sm-7 col-6 pl-0">
                            <div class="input-group">
                                <input type="number" onchange="planH()" class="form-control-plaintext text-white pb-0 text-center" value="0" min="0" id="PlanHeight" name="PlanHeight">
                                <div class="input-gruop-append">
                                    <label class="mt-2 mb-0" for="PlanHeight">m.</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label for="PlanWidth" class="col-md-4 col-sm-5 col-6 mt-2 mb-0 pr-0">Plan Width</label>
                        <div class="col-md-8 col-sm-7 col-6 pl-0">
                            <div class="input-group">
                                <input type="number" onchange="planW()" class="form-control-plaintext text-white pb-0 text-center" value="0" min="0" id="PlanWidth" name="PlanWidth">
                                <div class="input-gruop-append">
                                    <label class="mt-2 mb-0" for="PlanWidth">m.</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid pl-0 pt-3">
                        <h3 class="head-text">Add Theatre</h3>
                    </div>
                    <table class="table table-sm table-hover table-dark" id="MyTableTr">
                        <tbody>
                        </tbody>
                    </table>
                    <div id="TH-alert" class="alert alert-warning alert-dismissible fade show small" style="display:none" role="alert">
                        <strong>Warning!</strong> You should check input in on some of those fields below.
                        <button type="button" class="close " onclick="$('.alert').hide()" >
                                <i class="material-icons" >remove_circle</i>
                        </button>
                    </div>
                    <div id="TH-success" class="alert alert-success alert-dismissible fade show small" style="display:none" role="alert">
                        <strong>Save!</strong> You Theatre is save successfully.
                        <button type="button" class="close " onclick="$('.alert').hide()" >
                                <i class="material-icons" >remove_circle</i>
                        </button>
                    </div>
                    <div class="form-group row mb-3">
                        <label for="NameTheatre"  class="col-md-2 col-sm-2 col-3 mt-2 mb-0">Name</label>
                        <div class="col-md-10 col-sm-10 col-9">
                            <input type="text" autocomplete="off" class="form-control-plaintext text-white pb-0 text-center" id="NameTheatre" name="NameTheatre">
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label for="TheatreBranch" class="col-md-2 col-sm-3 col-3 mt-2 mb-0">Branch</label>
                        <div class="col-md-10 col-sm-9 col-9">
                            <select name="TheatreBranch" id="TheatreBranch" class="form-control-plaintext text-white"></select>
                        </div>
                    </div>
                    <div class="mx-auto mt-4 text-center">
                        <button type="button" class="btn btn-outline-light btn-white" onclick="saveTheatre()">Save Theatre</button>
                    </div>

                </div>
                <div class="container col-xl-9 col-lg-8 col-md-7 col-sm-7 col-6">
                    <div class="mx-auto mt-4 text-center">
                        <button type="button" style="width:70%" class="btn btn-white-rounded default-mouse">SCREEN</button>
                        <div id="render" class="container mt-3 mb-3" >
                            <div id="render1"></div>
                            <div id="render2"></div>
                            <div id="render3"></div>
                            <div id="render4"></div>
                        </div>
                        <div class="container-fluid">
                            <p class="default-mouse"><span id="showW">Plan Width 0 m.</span><span>&emsp;x&emsp;</span>
                            <span id="showH">Plan Height 0 m.</span></p>
                        </div>
                        <div class="container">
                            <div class="btn-toolbar " role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group mr-2" role="group" aria-label="First group">
                                    <h3 class="text-left head-text">Seat Class</h3>
                                </div>
                                <div class="btn-group mr-2" role="group" aria-label="Second group">
                                    <div class="btn text-white" ><i class="material-icons pointer" onclick="addSeat()">add_circle</i></div>
                                </div>
                                <div class="btn-group" role="group" aria-label="Third group">
                                        <div class="btn text-white"><i class="material-icons pointer" onclick="removeSeat()">remove_circle</i></div>
                                </div>
                            </div>
                        </div>
                        <div id="adj" class="container">
                                <!-- <div class="form-group row mb-0">
                                    <label for="SeatClass" class="col-md-2 col-sm-3 col-3 mt-2 mb-0">Seat Class 1</label>
                                    <div class="col-md-3 col-sm-3 col-3">
                                        <select name="SeatClass1" id="SeatClass1" class="form-control-plaintext text-white"></select>
                                    </div>
                                    <label for="NoRow1" class="col-md-2 col-sm-3 col-3 mt-2 mb-0">No.Row</label>
                                    <div class="col-md-3 col-sm-3 col-3">
                                        <button type="button" onclick="deleteSeatTH('1')" class="btn text-center text-white btn-white-rounded m-0 pl-2" style="width: 20px !important; min-width: 0px;" >-</button>
                                        <input type="number" class="mt-2 custom-range text-white" readonly="readonly" style="text-align: center;width: 27px;" min="0" value="0" id="NoRow1" name="NoRow1">
                                        <button type="button" onclick="appendSeatTH('1')" class="btn text-center text-white btn-white-rounded m-0 pl-2" style="width: 20px !important; min-width: 0px;" >+</button>
                                    </div>
                                    <div class="btn text-white"><i class="material-icons" onclick="addSeat()">add_circle</i></div>
                                </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="mx-auto mt-3 text-center">
                    <button type="button" class="btn btn-white mr-5 btn-outline-light" onclick="sentPlanForm()" ><i class="material-icons">add_circle</i><span id="Create">  Save Plan</span></button>
                    <button class="btn btn-white btn-outline-light" role="button">Reject</button>  
                </div>
            </div>
        </div>
    </form>
    <script src="js/plan.js"></script>
    
<%- include foot %>  