<div class="popup-area" id='login-popup' style='display: none;'>
    <div class="popup-window">
        <div class="popup-head">
            <span id='popup-head-text'>Membership</span>
            <span id='popup-close'><i class="fas fa-times"></i></span>
        </div>
        <div class="popup-body">
            <form action="">
                <div class="form-group">
                    <label for="login-username">Username</label>
                    <input class="form-control" type="text" id='login-username'>
                </div>
                
                <div class="form-group">
                    <label for="login-password">Password</label>
                    <input class="form-control" type="password" id='login-password'>
                </div>
                <button class="btn-center btn-white" style='margin:auto;'>Login</button>
            </form>
        </div>
        <div class="popup-footer">
            <button class="btn-center btn-white" style="height:25px; padding-top:0; padding-bottom:0;">Sign-up</button>
        </div>
    </div>    
</div>


<!-- You can write your own popup by copying the boilerplate below and add your data as you wish -->
<!-- =======================
Please Note: Replace 'yourname-popup' in 'popup-area' div to the name of your choice
but make sure to add your new id name to a button you want to use as a trigger to open your popup

EX. I replace 'yourname-popup' with 'mypopup'
And i want to have a button that when user click will open 'mypopup'
so I add data-popup='mypopup' to the <button> tag
======================= -->

<!-- <div class="popup-area" id='yourname-popup' style='display: none;'>
    <div class="popup-window">
        <div class="popup-head">
            <span id='popup-head-text'></span>
            <span id='popup-close'><i class="fas fa-times"></i></span>
        </div>
        <div class="popup-body">
            
        </div>
        <div class="popup-footer">
            
        </div>
    </div>    
</div> -->