<%- include('header', {mode: 'admin'});  %>

<form action="/schedule" method="post">
    <div class="col-sm-3" >
        <table class="table table-sm table-hover table-dark" id="Movie">
            <thead>Movie</thead>
        </table>
    </div>





</form>
<script src="scripts/schedule.js"></script>
    
<%- include foot %>  