<%- include('header', {mode: 'admin'});  %>
<thead>Movie</thead>
<form action="/schedule" method="post">
    <div class="col-sm-3" >
        <table class="table table-sm table-hover table-dark" id="Movie">
        </table>
    </div>
    <div class="col-sm-3" >
        <table class="table table-sm table-hover table-dark" id="Branch">
        </table>
    </div>
    <div class="col-sm-3" >
        <table class="table table-sm table-hover table-dark" id="theater">
        </table>
    </div>
    





</form>
<script src="scripts/schedule.js"></script>
    
<%- include foot %>  