<%- include('head', {mode: 'admin'});  %>

<form action="/Sshift" method="post">
    <h3 class="head-text">Shift</h3>

    <div class="row">
        <div class="col-sm-3">
            <table class="table table-sm table-hover table-dark" id="Sbranch">
            </table>
        </div>
    </div>
</form>
<script src="scripts/Sshift.js"></script>

<%- include foot %>  