<%- include('head', {mode: 'admin'});  %>

<form action="/Sshift" method="post">
    <h3 class="head-text">Shift</h3>

    <div class="row">
        <div class="col-sm-3">
            <table class="table table-sm table-hover table-dark" id="Sbranch">
            </table>
        </div>
        <div class="col-sm-3">
            <table class="table table-sm table-hover table-dark" id="Sstaff">
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3-center">
            <label for="Date">Date</label>
            <input type="Date" name="day">
            <label for="starttime">Start Time</label>
            <input type="time" name="starttime" id="time" class="form-control-plaintext text-white " data-format="HH:mm" data-template="HH : mm" value="16:30">
            <label for="endtime">End Time</label>
            <input type="time" name="endtime" id="time" class="form-control-plaintext text-white " data-format="HH:mm" data-template="HH : mm" value="10:30">
        </div>
    </div>
</form>
<script src="scripts/Sshift.js"></script>

<%- include foot %>  