<%- include('partials/head', {mode: 'admin'});  %>
        <div class='content-view'>
            <span class='head-text level0'>Dashboard</span>
            <%- include partials/viewarm %> 
        </div>
        <div class="content-form">
            <span class='head-text level0'>Form</span>
            <%- include partials/Sshift %> 
        </div>
<%- include partials/foot %> 