<%- include('partials/header', {mode: 'admin'});  %>
        <div class='content-view'>
            <span class='head-text level0'>Dashboard</span>
        </div>
        
<%- include partials/foot %> 