@import url(keyframes.css);
@import url(form.css);
:root {
    --color-ground-black: #1d1f23; 
    --color-black-1: #1E2124;
    --color-black-2: #2E3136;
    --color-black-3: #36393E;
    --color-red: #EA4546;
    --color-corngray: #2c3033;
    --color-cornblue: #7289da;
    --color-corngold: #e6bd3e;
    --color-cornpurple: #2c1451;
    --color-gray: #747f8d;
    --color-lightgreen-1: #7EF36F;
    --color-lightgreen-2: rgb(105, 206, 87);
    --color-green: #70e1a1;
    --color-darkgreen: #4b9d85;
    --color-green-tran-1: rgba(78, 196, 129, 0.2);
    --color-green-tran-2: rgba(78, 196, 129, 0.4);
}

::-webkit-scrollbar {
    width: 0px; 
    background: transparent; 
}

/* .fas{
    margin: 0 5px;
} */

html {
    overflow: hidden;
    height: 100%!important;
    scroll-behavior: smooth;
}

body{
    height: 100%!important;
    padding-top: 50px!important;
    overflow: auto!important;
    font-family: 'Montserrat', 'Prompt'!important;
    color: white!important;
    background-color: black!important;
}

button{
    text-transform: uppercase;
    font-size: 0.8rem!important;
    display: flex;
    align-items: center;
    justify-content: start;
    min-width: 100px;
    padding: 7px;
    padding-left: 10px;
    color: white;
    font-weight: 500;
    transition: all ease-in 0.2s;
    -webkit-transition: all ease-in 0.2s;
    -moz-transition: all ease-in 0.2s;
    -ms-transition: all ease-in 0.2s;
    -o-transition: all ease-in 0.2s;
}
button:not([disabled]):hover{
    cursor: pointer
}
button:disabled{
    opacity: .5;
}
button > i{
    margin-left: auto;
}

.btn-round{
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
}
.btn-center{
    justify-content: center;
    padding: 7px;
}
.btn-white{
    background: transparent;
    color: white;
    border: 1px solid white;
}
.btn-white:not([disabled]):hover, .btn-white:not([disabled]).wait, .btn-white:not([disabled]):focus{
    background: white;
    color: black;
}
.btn-red{
    background: transparent;
    color: var(--color-red);
    border: 1px solid var(--color-red);
}
.btn-red:not([disabled]):hover{
    background: var(--color-red);
    color: black;
}
.btn-black{
    background: transparent;
    color: black;
    border: 1px solid black;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.btn-black:hover{
    background: black;
    color: white;
}
.btn-green{
    background: transparent;
    color: var(--color-green);
    border: 1px solid var(--color-green);
}
.btn-green:not([disabled]):hover{
    background: var(--color-green);
    color: black;
}
.btn-gray{
    background: var(--color-gray);
    border: none;
}
.btn-solid-cornblue{
    background: var(--color-cornblue);
    color: white;
}
.btn-solid-cornblue:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.submit-btn{
    width: 50px;
    height: 50px;
    min-width: unset;
    color: black;
    border-radius: 100rem;
    border: none;
}
.submit-btn i{
    margin: auto;
    font-size: 1.5rem;
}
.logo{
    font-size: 1.5rem;
    margin: 0 10px;
    color:white;
}
.logo-text{
    text-transform: capitalize;
    line-height: 0;
    font-size: 2rem;
    font-weight: 900;
}

#top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 50px;
    background-color: #00000091;
}

.program-row{
    overflow: scroll;
    white-space: nowrap;
    vertical-align: middle;
    height: calc(288px*1.3);
}
.program-row .poster-card{
    display: inline-block;
    position: relative;
    margin: auto 10px;
    width: 192px;
    height: 288px;
    overflow: hidden;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.program-row .poster-card:hover{
    cursor: pointer;
    transform: scale(1.05) translateY(-50%);
    -webkit-transform: scale(1.05) translateY(-50%);
    -moz-transform: scale(1.05) translateY(-50%);
    -ms-transform: scale(1.05) translateY(-50%);
    -o-transform: scale(1.05) translateY(-50%);
}
.program-row .poster-card.selected{
    position: absolute;
    border: 1px solid white;
    
}
.program-row .poster-card>img{
    max-height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.head-group{
    display: block;
    text-transform: capitalize;
}

.head-group > .icon{
    display: block;
    color: white;
    margin-bottom: 5px;
}

.head-group > .level0, .head-text.level0{
    display: block;
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: initial;
    border: 1px solid #ffffff38;
    padding: 7px;
    width: fit-content;
    box-shadow: 0px 3px 0px 0px white;
}

.head-group > .level1{
    display: block;
    color: white;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: initial;
}

.head-group > .level2, .level2{
    display: block;
    color: #ffffffa3;
    font-size: .9rem;
    margin-bottom: 10px;
}

.head-group > .level3{
    color: #ffffff45;
    font-size: .8rem;
}

.head-text-badge {
    vertical-align: text-bottom;
}

.head-text-badge .badge, .badge{
    border: 1px solid white!important;
    margin: 0 3px;
    vertical-align: text-bottom!important;
}
.content-box{
    display: flex;
    height: 100%!important;
    flex-direction: row;
    justify-content: flex-start;
}

.content-box.special-mode:after{
    content: "";
    background: url('/assets/images/avengers.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.content-box .side-bar{
    padding: 0;
    width: 70px;
}

.content-box .content{
    overflow-y: scroll;
    flex: 1;
    padding: 0 15px;
}

.side-bar .side-bar-icon{
    background: transparent;
    padding: unset;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    min-width: unset;
    width: 40px;
    color: white;
    border: 1px dashed white;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.side-bar .side-bar-icon.special{
    color: gold;
    border: 1px dashed gold;
}

.side-bar .side-bar-icon.special:hover:enabled{
    border: 1px solid gold;
    background: gold;
    color: #674a01;
}
.side-bar .side-bar-icon.special.sp-green{
    color: var(--color-green);
    border: 1px dashed var(--color-green);
}
.side-bar .side-bar-icon.special.sp-green:hover:enabled{
    border: 1px solid var(--color-green);
    background: var(--color-green);
    color: black;
}
.side-bar .side-bar-icon:hover:enabled{
    border: 1px solid white;
    background: white;
    color: black;
}
.side-bar .side-bar-icon:disabled{
    opacity: 0.4;
}

.side-bar .side-bar-icon > i{
    margin-left: 0!important;
}

.popup-area{
    position: absolute;
    align-items: center;
    animation: showNav 250ms ease-in-out both;
    z-index: 20;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.web-body.overlay>*:not(.popup-area){
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.popup-window{
    position: absolute;
    border: 1px solid #ffffff17;
    border-radius:.25rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: fit-content;
    background: #08090a;
    color: white;
    padding: 10px!important;
    -webkit-border-radius:.25rem;
    -moz-border-radius:.25rem;
    -ms-border-radius:.25rem;
    -o-border-radius:.25rem;
}

.popup-window.plain{
    top: unset;
    left: unset;
    transform: unset;
    -webkit-transform: unset;
    -moz-transform: unset;
    -ms-transform: unset;
    -o-transform: unset;
}

.popup-window .popup-head, .popup-window .popup-footer{
    width: 100%;
    height: 30px;
    display: flex;
}

.popup-window .popup-head{
    justify-content: flex-end;
    align-items: flex-start;
}
.popup-window .popup-footer{
    justify-content: center;
    align-items: center;
}

.popup-window .popup-body{
    flex: 1;
    padding: 5px;
    /* overflow-y: scroll; */
}

.popup-window .form-group, .popup-window .form-control{
    color: white!important;
    border-color: #ffffff4f;
    border-radius: .2rem!important;
    -webkit-border-radius: .2rem!important;
    -moz-border-radius: .2rem!important;
    -ms-border-radius: .2rem!important;
    -o-border-radius: .2rem!important;
}
.popup-window #popup-head-text{
    margin: auto;
}
.popup-window #popup-close{
    position: absolute;
    cursor: pointer;
}
.popup-footer .nav-btn{
    font-size: 2.5rem;
    bottom: -7px;
    cursor: pointer;
}
.popup-footer .nav-btn[disabled]{
    opacity: .2;
}
.form-group{
    font-size: .85rem;
    color: #ffffffb0;
}

.form-control{
    height: 25px!important;
    border-radius: .1rem!important;
    background: transparent!important;
    -webkit-border-radius: .1rem!important;
    -moz-border-radius: .1rem!important;
    -ms-border-radius: .1rem!important;
    -o-border-radius: .1rem!important;
    box-shadow: none!important;
}

.form-control:focus, .form-control:hover{
    background: #ffffff12!important;
    border-color: unset!important;
}

.content-view, .content-form{
    margin: 10px;
    margin-bottom: 35px;
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}
.fetch-placeholder{
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 1000px 104px;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.fetch.userpic{
    border: none;
    background: none;
    text-indent:0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    /* -webkit-animation: none; */
}

.fetch.userpic[src='']{
    background: url(/assets/images/load_placeholder.svg) no-repeat;
    background-size: 20px;
    text-indent: -10000px;
}

button .fetch.userpic{
    margin: 0 7px;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 27px;
    height: 27px;
}
.lds-ripple div {
    position: absolute;
    border: 2px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
    top: 14px;
    left: 14px;
    width: 0;
    height: 0;
    opacity: 1;
    }
    100% {
    top: -.5px;
    left: -.5px;
    width: 29px;
    height: 29px;
    opacity: 0;
    }
}

.dropdown-menu{
    position: absolute!important;
    will-change: transform!important;
    border-radius: 0px!important;
    top: 0px!important;
    left: 0px!important;
    transform: translate3d(-38px, 36px, 0px);
    -webkit-transform: translate3d(-38px, 36px, 0px);
    -moz-transform: translate3d(-38px, 36px, 0px);
    -ms-transform: translate3d(-38px, 36px, 0px);
    -o-transform: translate3d(-38px, 36px, 0px);
}

.dropdown-item{
    font-family: inherit!important;
    display: flex!important;
    justify-content: center!important;
    margin-bottom: 7px!important;
    font-size: .9rem!important;
}

.select-field{
    background: var(--color-corngray);
    padding: 1rem;
    border-radius: .2rem;
    border-style: outset!important;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    -ms-border-radius: .2rem;
    -o-border-radius: .2rem;
}
.select-field::placeholder{
    color: black;
}

input.hide, form .hide{
    height: 0;
    width: 0;
    border: 0;
    padding: 0;
    overflow: hidden;
}

.floating{
    animation: float 3s ease-in-out infinite;
}

.list{
    list-style: none;
    border: 1px solid white;
    padding: 10px;
    width: 45%;
}

.list li{
    padding: 0 7px;
}

.list li:hover{
    cursor: pointer;
    background: white;
    color: black;
}

.list li:focus, .list li.selected{
    background: var(--color-green);
    color: black;
}

.dropdown-toggle::after{
    margin-left: auto!important;
}

.dropdown{
    display: inline;
}
.dropdown .dropdown-menu{
    border: 1px solid white!important;
    background: rgba(0, 0, 0, 0.5)!important;
    color: white!important;
}
.dropdown .dropdown-item{
    color: white!important;
}
.dropdown .dropdown-item:hover{
    cursor: pointer!important;
    color: black!important;
}
#reserv-nshow-theatre+.dropdown-menu{
    transform: translate3d(0px, 31px, 0px)!important;
    width: -webkit-fill-available;
    -webkit-transform: translate3d(0px, 31px, 0px)!important;
    -moz-transform: translate3d(0px, 31px, 0px)!important;
    -ms-transform: translate3d(0px, 31px, 0px)!important;
    -o-transform: translate3d(0px, 31px, 0px)!important;
}

.open-list{
    font-size: .8rem;
    list-style: none;
    padding: 3px;
    border-radius: .25rem;
    border: 1px solid white;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    -ms-border-radius: .25rem;
    -o-border-radius: .25rem;
}

.open-list li{
    padding-left: 5px;
    border-radius: .1rem;
    animation: showNav .3s ease-in-out;
    -webkit-animation: showNav .3s ease-in-out;
    -webkit-border-radius: .1rem;
    -moz-border-radius: .1rem;
    -ms-border-radius: .1rem;
    -o-border-radius: .1rem;
}

.open-list li:hover{
    background: #ffffff38;
    cursor: pointer;
}

.open-list li:focus, .open-list li.selected{
    background: white;
    color: black;
}

.open-list li.selected .badge{
    border-color: black!important;
}
.screen-symbol{
    font-size: 1rem;
    justify-content: center;
    display: flex;
    border: 1px dashed #ffffff57;
    border-radius: .25rem;
    margin: 5px 0;
}
.screen-symbol:before{
    content:'Screen';
}
input[type=checkbox].seat-dot-checkbox{
    position   : absolute;
    visibility : hidden;
}
input[type=checkbox].seat-dot-checkbox:checked+.seat-dot{
    background: var(--color-green-tran-2);
}
input[type=checkbox].seat-dot-checkbox:checked+.seat-dot:before{
    font-family: "Font Awesome 5 Free";
    content: '\f00c';
    color: var(--color-green);
    font-weight: 900;
    font-size: 0.8rem;
}
input[type=checkbox].seat-dot-checkbox:disabled+.seat-dot{
    cursor: not-allowed;
}
input[type=checkbox].seat-dot-checkbox:disabled+.seat-dot:before{
    font-family: "Font Awesome 5 Free";
    content: '\f007';
    color: var(--color-red);
    font-weight: 900;
    font-size: 0.8rem;
}
.seat-dot, .seat-dot.available{
    color: #ffffffa3;
    font-size: .6rem;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    min-width: 25px;
    margin: 3px;
    background: var(--color-corngray);
    width: 25px;
    height: 25px;
    border: 2.5px solid rgba(0, 0, 0, 0.5);
    border-radius: .35rem;
    cursor: pointer;
    -webkit-border-radius: .35rem;
    -moz-border-radius: .35rem;
    -ms-border-radius: .35rem;
    -o-border-radius: .35rem;
}
.seat-dot:before{
    content: attr(data-seatcode);
}
.seat-dot.couple, .seat-dot.available.couple{
    padding: 0 15px;
}
.seat-dot.class-order-2{
    background: var(--color-cornblue);
    font-weight: 900;
    color: black;
}
.seat-dot.class-order-3{
    background: var(--color-corngold);
    font-weight: 900;
    color: black;
}
.seat-dot.class-order-4{
    background: var(--color-cornpurple);
    font-weight: 900;
}

.seat-dot+.seat-desc{
    font-size: .7rem;
    color: white;
}

.seat-renderarea{
    overflow: auto;
    display: grid;
    cursor: all-scroll;
    max-height: 60vh;
}

.seat-row{
    white-space: nowrap;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}

#buy-ticket-popup .ticket-renderarea{
    display: flex;
    align-items: center;
    padding: 0 10px;
    width:70%;
    margin: 10px auto;
    position: relative;
    background: white;
    border: 2.5px solid rgba(0, 0, 0, 0.5);
    height: 40px;
    border-radius: 100rem;
    -webkit-border-radius: 100rem;
    -moz-border-radius: 100rem;
    -ms-border-radius: 100rem;
    -o-border-radius: 100rem;
}

#tab2-class-display span{
    align-items: center;
    display: flex;
    font-size: .6rem;
}

table{
    border: 1px solid white;
    padding: 3px;
    font-size: .8rem;
    width: 100%;
    color: white!important;
}

.table thead th, .table tbody th{
    padding: .3rem;
    font-size: .75rem;
    word-break: break-all;
    font-weight: 600;
}

.table tbody td{
    padding: .3rem;
    font-size: .3rem;
}
@media screen and (max-width: 767px) {
    #buy-ticket-popup .floating{
        display: none;
    }
    #buy-ticket-popup.popup-area{
        margin: auto;
    }
}
.table-foot{
    background: white;
    color: black;
}

.popup-window #tab0-dropdown-menu{
    transform: translate3d(0px, 25px, 0px)!important;
}